# dependencies
node_modules

# Next.js build output
.next
out
dist

# IDE / OS files
.vscode
.DS_Store

# coverage reports
coverage

# static assets
public/**/*.{png,jpg,jpeg,gif,svg}

prisma/migrations/

README.md